<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/?id=<%= id %>">Ejecutar otra operación</a>
    <h2>Resultado de accion</h2>
    Última operación: <%= accion %> con número: <%= numero %> del ID: <%= id %></p>
    <p>Operación realizada: <%= operacion %></p>
    <p>Valor resultante: <%= resultado %></p>
</body>
</html>